
*.lib
*.exe
*.pdb
*.dll
*.obj
*.user
*.htm
*.idb
*.suo
*.ncb
*.ilk
*.manifest
*.res
*.dep
*.tlog
*.log
*.lastbuildstate
*.cache
*.unsuccessfulbuild
*.opensdf
*.sdf
*.ipch
*.rsp
*.json
*.db
/include
/libraries
